.fit-plan {
  margin-top: 2rem;
  width: 100%;
  overflow-x: auto;
}

.fit-plan table {
  width: 100%;
  min-width: 700px;
}

.fit-plan th {
  padding-top: 0;
}

.fit-plan .row-header {
  padding-left: 0;
}

.fit-plan .btn.add {
  text-align: right;
}

.fit-plan .editing input {
  width: 90%;
  margin: 0 0 .5rem;
}

.fit-plan .editing .btn {
  padding: .2rem .5rem;
}
