.reminders .add,
.reminders .cancel {
  cursor: pointer;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 1.2rem;
}

.reminders h3 form {
  display: inline-block;
  margin-left: .5rem;
}

.reminders form input[type="text"] {
  margin-right: 5px;
}

.reminder-group {
  margin-bottom: 2rem;
}

.reminder-item {
  display: flex;
  margin-bottom: .5rem;
}

.reminder-item .label {
  flex: 1 1 auto;
}

.reminder-item .delete {
  flex: 0 1 auto;
  padding: 0 5px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
